.lo {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #1c1b2b;
}
.end {
  opacity: 0;
  visibility: hidden;
  transition: opacity cubic-bezier(0.45, 0, 0.55, 1);
}
.v {
  object-fit: cover;
  object-position: center center;
}
