.prp {
  margin-top: 185rem;
}
.prp h1 {
  font-family: "bu";
  font-size: 40rem;
  line-height: 35rem;
  font-weight: 300;
  padding-inline: 62rem;
}

.prp_g {
  margin-top: 12rem;
}

.prp_data {
  position: relative;
  padding-top: 50rem;
  padding-inline: 60rem;
  display: flex;
  justify-content: space-between;
}

.data_l {
  width: 750rem;
}
.data_r {
  width: 520rem;
}
.prp_sb {
  width: fit-content;
  margin-left: auto;
  & svg {
    width: 18rem;
  }
}

.data_desc {
  margin-top: 90rem;
  font-size: 20rem;
  line-height: 25rem;
  font-weight: 300;
}
.data_com {
  margin-top: 14rem;
  font-size: 12rem;
  line-height: 15rem;
  font-weight: 300;
}

:global(#footer) {
  margin-top: 60rem !important;
}
