.c0 {
  position: relative;
  margin-top: 48rem;
  @media (width > 770px) {
    margin-top: 130rem;
  }
}
.c0 ._ {
  margin-inline: auto;
  @media (width > 770px) {
    width: 865rem;
  }
}
.c0 h1 {
  font-size: 27rem;
  line-height: 27rem;
  font-family: "bu";
  font-weight: normal;
  text-align: center;
  @media (width > 770px) {
    font-size: 70rem;
    line-height: 60rem;
    text-align: left;
    & div {
      display: flex;
      justify-content: space-between;
    }
  }
}
.c_info {
  margin-top: 48rem;
  display: flex;
  justify-content: space-around;
  @media (width > 770px) {
    margin-top: 120rem;
    justify-content: space-between;
  }
}

.c_info h3 {
  margin-bottom: 16rem;
  font-size: 14rem;
  font-weight: bold;
  @media (width > 770px) {
    margin-bottom: 28rem;
    font-size: 20rem;
  }
}
.c_info .social {
  display: block;
  font-size: 12rem;
  text-decoration: underline;
  @media (width > 770px) {
    font-size: 15rem;
  }
}

.c1 {
  margin-top: 80rem;
  position: relative;
  @media (width > 770px) {
    margin-top: 200rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-inline: 30rem;
  }
}
.c1 h2 {
  position: absolute;
  top: -27rem;
  left: 30rem;
  right: 30rem;
  font-size: 20rem;
  line-height: 18rem;
  font-family: "bu";
  font-weight: normal;
  text-align: center;
  & br {
    display: none;
  }
  @media (width > 770px) {
    right: unset;
    font-size: 70rem;
    line-height: 60rem;
    text-align: left;
    & br {
      display: unset;
    }
  }
}
.c1 figure {
  padding-inline: var(--p-i);
  @media (width > 770px) {
    width: 600rem;
    padding-inline: 0;
  }
}
.f {
  width: 100%;
  margin-top: 32rem;
  display: flex;
  flex-direction: column;
  gap: 24rem;
  padding-inline: 30rem;
  @media (width > 770px) {
    margin-top: unset;
    width: 710rem;
    flex-direction: row;
    gap: 45rem 50rem;
    flex-wrap: wrap;
  }
}

.f input {
  width: 100%;
  padding-bottom: 14rem;
  font-size: 15rem;
  border-bottom: 1px solid var(--c-black);
  /* -webkit-appearance: none; */
  border-radius: 0;
  &::placeholder {
    color: var(--c-black);
  }
  @media (width > 770px) {
    width: calc((100% - 50rem) / 2);
  }
}

.f .b {
  flex-basis: 100%;
}
.f label {
  display: block;
  font-size: 15rem;
}
.f textarea {
  width: 100%;
  height: 160rem;
  margin-top: 8px;
  border-radius: 0;
  /* -webkit-appearance: none; */
}
.f button {
  margin-top: 16rem;
  text-decoration: underline;
}

.c2 {
  margin-top: 64rem;
  display: flex;
  flex-direction: column;
  @media (width > 770px) {
    margin-top: 140rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-inline: var(--p-i);
  }
}
.c2 h2 {
  font-size: 20rem;
  line-height: 18rem;
  font-family: "bu";
  font-weight: normal;
  text-align: center;

  @media (width > 770px) {
    font-size: 70rem;
    line-height: 60rem;
    text-align: unset;
  }
}
.c2 form {
  padding-top: 8rem;
  margin-top: 40rem;
  @media (width > 770px) {
    margin-top: unset;
  }
}
