.he {
  position: relative;
  margin-top: 80rem;
  padding-inline: var(--p-i);
  @media (width > 770px) {
    margin-top: 200rem;
  }
}
.he h1 {
  padding-inline: var(--p-i);
  position: absolute;
  top: -24rem;
  left: 0;
  font-size: 30rem;
  line-height: 28rem;
  font-family: "bu";
  font-weight: normal;
  & span {
    display: block;
  }
  & .m {
    text-align: right;
  }
  @media (width > 770px) {
    padding-inline: 0;
    top: -54rem;
    left: 290rem;
    font-size: 70rem;
    line-height: 60rem;
    & .m {
      margin-left: 183rem;
    }
  }
}

.b-f {
  aspect-ratio: 3.5/3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  @media (width > 770px) {
    aspect-ratio: 138/62;
  }
}
.prs {
  margin-top: 30rem;
  padding-inline: var(--p-i);
  @media (width > 770px) {
    margin-top: 40rem;
  }
}
.prs_title {
  font-size: 20rem;
  font-family: "bu";
  font-weight: normal;
  @media (width > 770px) {
    font-size: 55rem;
  }
}
.prs_saved {
  width: fit-content;
  padding: 8rem 26rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12rem;
  font-size: 14rem;
  color: var(--c-gold);
  border: 1px solid var(--c-gold);
  & svg {
    width: 18rem;
    fill: var(--c-gold);
  }
}
.intro {
  margin-top: 96rem;
  max-width: 960rem;
  margin-inline: auto;
  & h2 {
    font-size: 35rem;
    line-height: 30rem;
    font-weight: normal;
    text-align: center;
  }
  & p {
    margin-top: 40rem;
    font-size: 20rem;
    line-height: 30rem;
    font-weight: 300;
    text-align: center;
  }
}
.prs_list {
  margin-top: 88rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40rem;
}
.prs_list li {
  min-width: 0;
}
.prs_list li:nth-child(2n) {
  & figure {
    aspect-ratio: 5/4;
  }
}
