.pc {
  display: block;
}
.pc_index {
  display: block;
  font-size: 35rem;
  line-height: 30rem;
}
.pc_gallery {
  margin-top: 10rem;
  width: 100%;
  & figure {
    aspect-ratio: 434/260;
  }
}

.pc_h {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pc_h h3 {
  font-size: 20;
}

.pc_h button {
  width: 20rem;
  aspect-ratio: 1;
}
.pc_features {
  margin-top: 12rem;
  display: flex;
  gap: 40px;
  align-items: center;
}
.pc_features div {
  display: flex;
  align-items: cente;
  gap: 8rem;
  font-size: 14rem;
  font-weight: 300;
}
.pc_features img {
  width: 22rem;
}
