.g0 {
  margin-top: 48rem;
  position: relative;
  @media (width > 770px) {
    margin-top: 130rem;
  }
}
.g0 {
  display: flex;
  flex-direction: column;
  box-sizing: unset;
  padding-inline: 36rem;
  gap: 16rem;
  @media (width > 770px) {
    padding-inline: 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: unset;
  }
}

.g0 h1 {
  padding-left: var(--p-i);
  font-size: 27rem;
  line-height: 1;
  font-family: "bu";
  font-weight: normal;
  text-align: center;
  @media (width > 770px) {
    font-size: 70rem;
    line-height: 60rem;
    text-align: left;
  }
}
.g0 p {
  padding-right: var(--p-i);
  font-weight: 300;
  font-size: 12rem;
  line-height: 14rem;
  text-align: center;
  order: 2;
  @media (width > 770px) {
    width: 575rem;
    box-sizing: unset;
    font-size: 20rem;
    line-height: 30rem;
    text-align: left;
    order: unset;
  }
}
.g0 figure {
  @media (width > 770px) {
    margin-top: 75rem;
    margin-left: auto;
    width: 605rem;
  }
}
.g1 {
  margin-top: 80rem;
  padding-inline: 36rem;
  display: flex;
  flex-direction: column;
  gap: 80rem;
  @media (width > 770px) {
    margin-top: 150rem;
    padding-inline: var(--p-i);
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
}
.g1 .l {
  position: relative;
  width: 250rem;
  margin-inline: auto;
  @media (width > 770px) {
    margin-inline: 0;
    width: unset;
  }
}

.g1 h2 {
  font-size: 27rem;
  font-family: "bu";
  font-weight: normal;
  position: absolute;
  line-height: 1;
  text-align: right;
  bottom: -24rem;
  right: -12rem;

  &:first-child {
    text-align: left;
    top: -22rem;
    left: -12rem;
  }
  @media (width > 770px) {
    font-size: 70rem;
    line-height: 60rem;
    bottom: -115rem;
    right: -50rem;
    &:first-child {
      top: -52rem;
      left: 0rem;
    }
  }
}

.g1 figure {
  margin-inline: auto;
  @media (width > 770px) {
    margin-inline: unset;
    margin-left: 30rem;
    width: 435rem;
  }
}
.faqs {
  width: 100%;
  border-bottom: 1px solid var(--c-black);
  @media (width > 770px) {
    width: 720rem;
  }
}

.g2 {
  margin-top: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @media (width > 770px) {
    margin-top: 220rem;
    flex-direction: row;
  }
}
.g2 > div {
  order: 3;
  @media (width > 770px) {
    width: 615rem;
    margin-left: 85rem;
    order: unset;
  }
}
.g2 h2 {
  font-size: 27rem;
  line-height: 1;
  font-family: "bu";
  font-weight: normal;
  text-align: center;
  @media (width > 770px) {
    font-size: 70rem;
    line-height: 60rem;
    text-align: left;
  }
}
.g2 h3 {
  font-weight: normal;
  margin-top: 16rem;
  font-size: 15rem;
  text-align: center;
  @media (width > 770px) {
    text-align: left;
    margin-top: 70rem;
    font-size: 35rem;
    line-height: 35rem;
  }
}
.g2 p {
  margin-top: 8rem;
  font-size: 12rem;
  line-height: 13rem;
  max-width: 250rem;
  text-align: center;
  margin-inline: auto;
  &:last-of-type {
    margin-top: 28rem;
  }
  @media (width > 770px) {
    margin-top: 70rem;
    font-size: 20rem;
    line-height: 30rem;
    max-width: 400rem;
    text-align: left;
    margin-inline: unset;
    &:last-of-type {
      margin-top: 40rem;
    }
  }
}

.g2 video {
  width: 100rem;
  margin-top: 24rem;
  @media (width > 770px) {
    width: 285rem;
    margin-top: 0;
    margin-left: 275rem;
  }
}

.download {
  margin-top: 16rem;
  display: flex;
  gap: 8rem;
  justify-content: center;
  @media (width > 770px) {
    justify-content: unset;
  }
}

.download a {
  display: block;
  width: 80rem;
  @media (width > 770px) {
    width: 142rem;
  }
}

.g3 {
  width: 280rem;
  margin-inline: auto;
  margin-top: 80rem;
  position: relative;
  @media (width > 770px) {
    margin-top: 195rem;
    width: 655rem;
  }
}
.g3 h2 {
  width: 100%;
  position: absolute;
  left: 0;
  top: -8rem;
  font-family: "bu";
  font-weight: normal;
  font-size: 15rem;
  line-height: 12.5rem;
  text-transform: uppercase;
  z-index: 1;
  & div {
    display: flex;
    justify-content: space-between;
    & span:last-of-type {
      margin-left: 45rem;
    }
  }
  @media (width > 770px) {
    top: -16rem;
    font-size: 35rem;
    line-height: 30rem;
    & span:last-of-type {
      margin-left: 110rem;
    }
  }
}

/*****************  
POPUP
*****************/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: white;
  padding-inline: var(--p-i);
  padding-block: 32rem 24rem;
  z-index: 9999;
  display: none;
  pointer-events: none;
  overflow: auto;
  @media (width > 770px) {
    padding-inline: 80rem;
    padding-block: 40rem;
  }
}
.popup.active {
  display: block;
  pointer-events: unset;
}
.popup button {
  position: absolute;
  top: 40rem;
  right: 20rem;
  & svg {
    width: 20rem;
  }
  @media (width > 770px) {
    top: 40rem;
    right: 30rem;
    & svg {
      width: 40rem;
    }
  }
}
.popup h2 {
  font-size: 20rem;
  line-height: 1.5;
  margin-bottom: 40rem;
  @media (width > 770px) {
    font-size: 36rem;
  }
}
.popup p {
  font-size: 14rem;
  line-height: 18rem;
  @media (width > 770px) {
    font-size: 16rem;
    line-height: 19rem;
  }
}
