:root {
  --p-i: 30rem;
  --c-gray: #77726d;
  --c-black: #1b1b27;
  --c-gold: #c09470;
}
/*******************
*  FONTS  */
/******************/
@font-face {
  font-family: "bu";
  src: url("@/assets/fonts/bureau.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "so";
  src: url("@/assets/fonts/sohne-leicht.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "so";
  src: url("@/assets/fonts/s-l-i.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "so";
  src: url("@/assets/fonts/sohne-buch.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "so";
  src: url("@/assets/fonts/sohne-halbfett.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "pp";
  src: url("@/assets/fonts/pp-r.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*
* THIS FILES IS FOR RESETTING SOME OF THE DEFAULTS STYLES
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
  font-size: calc(100vw / 393);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  @media (width > 770px) {
    font-size: calc(100vw / 1440);
  }
}

body {
  font-size: 15rem;
  font-family: "so";
  color: var(--c-black);
  user-select: none;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
button {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
img,
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  user-drag: none;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}
input,
fieldset {
  display: block;
  outline: none;
  border: none;
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
  display: none;
}
