:root {
  --p-i: 12rem;
  --h-h: 84rem;
  --c-gray: #77726d;
  --c-black: #1b1b27;
  --c-gold: #c09470;
  @media (width > 770px) {
    --p-i: 30rem;
  }
}

/*******************
*  GLOBAL  */
/******************/
._ {
  opacity: 1 !important;
  /* opacity: 0;
  visibility: hidden; */
}
.sh {
  opacity: 1 !important;
  visibility: visible !important;
}
.hi {
  opacity: 0 !important;
  visibility: hidden !important;
}
.w {
  position: relative;
}

.y_ {
  overflow: hidden;
}

/*******************
*  UTILS  */
/******************/

.d-s {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}
.m-o {
  @media (width > 770px) {
    display: none !important;
  }
}
.d-o {
  @media (width <= 770px) {
    display: none !important;
  }
}
.h-s {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: -99;
  @media (width > 770px) {
    display: unset;
  }
}
