.info_n {
  display: flex;
  gap: 50rem;
}
.info_n > div {
  padding-bottom: 4rem;
  position: relative;
  overflow: hidden;
  font-size: 16rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background-color: var(--c-gold);
    transition: left 0.3s linear;
  }
}
.info_n .active:after {
  left: 0;
}
.info_c {
  margin-top: 70rem;
}

/****************
*** OVERVIEW
****************/
.ov {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32rem;
  @media (width > 770px) {
    display: flex;
    gap: 24rem;
  }
}
.ov > div {
  width: 135rem;
  font-size: 12rem;
  @media (width > 770px) {
    font-size: 14rem;
  }
}
.ov h3 {
  color: var(--c-gold);
  font-size: 12rem;
  @media (width > 770px) {
    font-size: 14rem;
  }
}
.ov p {
  margin-top: 8rem;
  @media (width > 770px) {
    margin-top: 28rem;
  }
}

/****************
*** LOCATION
****************/
.map {
  height: 240rem;
  @media (width > 770px) {
    width: 600rem;
    height: 335rem;
  }
}
.map iframe {
  width: 100%;
  height: 100%;
}
/****************
*** CONTACT
****************/
.contact {
  display: flex;
  gap: 32rem;
}
.contact > div {
  width: 135rem;
}
.contact h3 {
  font-size: 12rem;
  color: var(--c-gold);
  @media (width > 770px) {
    font-size: 14rem;
  }
}
.contact a {
  margin-top: 28rem;
  font-size: 12rem;
  text-decoration: underline;
  @media (width > 770px) {
    font-size: 14rem;
  }
}

/****************
*** AMENITIES
****************/
.amenities h3 {
  @media (width > 770px) {
    font-size: 14rem;
    color: var(--c-gold);
  }
}

.amenities ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32rem;
  @media (width > 770px) {
    margin-top: 26rem;
    grid-template-columns: repeat(3, 200rem);
  }
}
.amenities li {
  display: flex;
  align-items: center;
  gap: 8rem;
  & h4 {
    font-size: 12rem;
    font-weight: normal;
    text-transform: capitalize;
  }
  & svg {
    width: 20rem;
  }
  @media (width > 770px) {
    gap: 10rem;
    & h4 {
      font-size: 14rem;
      font-weight: normal;
      text-transform: capitalize;
    }
    & svg {
      width: 28rem;
    }
  }
}

/****************
*** MOBILE INFO
****************/

.info_c_m {
  display: flex;
  flex-direction: column;
  gap: 48;
}

.info_c_m > div {
  display: flex;
  flex-direction: column;
  gap: 24;
}

.info_c_m > div > h3 {
  font-size: 14rem;
}
