.filters-list {
  /* width: 500rem; */
  position: relative;
  display: flex;
  gap: 26rem;
}

.filters-list > button {
  font-size: 13rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  & svg {
    width: 16rem;
  }
}

/*************** 
FILTER
****************/
.filter:global(.active) .dropdown {
  display: block;
}

.filter button {
  padding-inline: 10rem;
  display: flex;
  align-items: center;
  gap: 16rem;
  font-size: 13rem;
  text-transform: uppercase;
  color: #555;
  & svg {
    transform: rotate(90deg);
    & path {
      stroke: #555;
    }
    width: 12rem;
  }
}
.filter.selected {
  & button {
    color: var(--c-black);
  }
  & path {
    stroke: var(--c-black);
  }
}

/*************** 
DROPDOWN LIST
****************/
.dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 8rem);
  left: 0;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

/*************** 
OPTIONS LIST
****************/
.optionsList {
}
.optionsList li {
  &:not(:first-child) {
    border-top: 1px solid #d9d9d9;
  }
}
.optionsList li.selected label {
  background-color: var(--c-gold);
  color: white;
}
.optionsList input {
  display: none;
}
.optionsList label {
  display: block;
  padding-left: 24rem;
  padding-block: 10rem;
  font-size: 11rem;
  color: var(--c-gold);
  cursor: pointer;
  &:hover {
    background-color: var(--c-gold);
    color: white;
  }
}

/*************** 
RANGE SLIDER
****************/
.rs {
  padding: 16rem;
  display: flex;
  align-items: center;
  gap: 8rem;
  color: var(--c-gold);
  font-size: 12rem;
}
.rs fieldset {
  width: 100%;
  position: relative;
}
.rs_value {
  position: absolute;
  bottom: calc(100% + 4rem);
  left: 50%;
  transform: translateX(-50%);
}
.rs input {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  height: 2px;
  background-color: #ddd;
  cursor: move;
  &::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 8rem;
    height: 8rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 50%;
  }
}

.mm {
  padding: 24rem 20rem;
  display: flex;
  align-items: center;
  gap: 24rem;
}

.mm > div {
  flex: 1;
}

.mm h3 {
  color: var(--c-gold);
  font-size: 13rem;
  font-weight: normal;
}

.mm input {
  margin-top: 12rem;
  padding: 12rem;
  border: 1px solid var(--c-black);
  width: 100%;
  background-color: transparent;
}
.mm span {
  margin-top: 24rem;
}
