.map {
  padding-inline: var(--p-i);
  position: relative;
  margin-top: 190rem;
}

.map h2 {
  position: absolute;
  top: -80rem;
  left: 461rem;
  text-align: right;
  font-family: "bu";
  font-size: 100rem;
  font-weight: normal;
  line-height: 90rem;
}

.mb {
  position: absolute;
  width: 1380rem;
  height: 100%;
  top: 0;
  left: var(--p-i);
  cursor: none;
  &:hover .cursor {
    opacity: 1;
  }
}

.popup {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  height: 100vh;
  padding: 16rem;
  border-radius: 8rem;
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 999;
  display: grid;
  place-content: center;
}
.map_ {
  width: 1100rem;
  /* aspect-ratio: 9/6; */
  aspect-ratio: 9/5;
}

.infoW {
  padding-bottom: 16px;
  margin-right: 30px;
  & h3 {
    text-transform: capitalize;
  }
  & a {
    margin-top: 10px;
    display: block;
    text-decoration: underline;
  }
}

:global(div.gm-style-iw-d) {
  padding: 0 !important;
}
:global(div.gm-style-iw.gm-style-iw-c > div.gm-style-iw-chr) {
  justify-content: flex-end;
  & > div {
    display: none;
  }
  /* Close button container */
  & button {
    /* box-sizing: unset; */
    width: 20px !important;
    height: 20px !important; /* Example to hide the default close button space */
    /* padding-top: 12px !important;
    padding-right: 12px !important; */
    & span {
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }
  }
}
