.map {
  margin-top: 80rem;
  padding-inline: var(--p-i);
  position: relative;
  @media (width > 770px) {
    margin-top: 190rem;
  }
}

.map h2 {
  position: absolute;
  top: -28rem;
  left: 95rem;
  font-size: 40rem;
  line-height: 30rem;
  font-weight: normal;
  font-family: "bu";
  text-align: right;
  @media (width > 770px) {
    font-size: 100rem;
    line-height: 90rem;
    top: -78rem;
    left: 461rem;
  }
}

.mb {
  position: absolute;
  height: 100%;
  top: 0;
  left: var(--p-i);
  right: var(--p-i);
  cursor: none;
  &:hover .cursor {
    opacity: 1;
  }
  @media (width > 770px) {
    width: 1380rem;
  }
}

.popup {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  height: 100vh;
  padding: 16rem;
  border-radius: 8rem;
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.map_ {
  /* aspect-ratio: 9/6; */
  width: 100%;
  aspect-ratio: 6/9;
  @media (width > 770px) {
    width: 1100rem;
    aspect-ratio: 9/5;
  }
}

.infoW {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 30px;
  width: 200px;
  & h3 {
    text-transform: capitalize;
  }
  & a {
    margin-top: 16px;
    display: block;
    width: fit-content;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--c-black);
    color: var(--c-black);
    /* text-decoration: underline; */
  }
}

:global(div.gm-style-iw-d) {
  padding: 0 !important;
  overflow: unset !important;
}
:global(div.gm-style-iw.gm-style-iw-c > div.gm-style-iw-chr) {
  position: absolute;
  top: 4px;
  right: 4px;
  & > div {
    display: none;
  }
  /* Close button container */
  & button {
    box-sizing: unset;
    padding: 4px !important;
    width: 20px !important;
    height: 20px !important; /* Example to hide the default close button space */
    & span {
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }
  }
}
