.he {
  margin-top: 208rem;
  position: relative;
}

.he h1 {
  position: absolute;
  top: -90rem;
  left: 130rem;
  width: fit-content;
  font-family: "bu";
  font-weight: normal;
  font-size: 100rem;
  line-height: 90%;
  /* mix-blend-mode: difference; */
  & span {
    display: block;
    /* color: white; */
  }
  & span:first-child {
    margin-left: 380rem;
  }
}

.he figure {
  padding-inline: var(--p-i);
  aspect-ratio: 138/62;
}
.bg2 {
  top: unset;
  bottom: 0 !important;
}
