.he {
  margin-top: 208rem;
  position: relative;
}

.he h1 {
  position: absolute;
  top: -80rem;
  left: 130rem;
  width: fit-content;
  font-family: "bu";
  font-weight: normal;
  font-size: 100rem;
  line-height: 90%;
  & span {
    display: block;
    margin-left: 380rem;
  }
}

.he figure {
  padding-inline: var(--p-i);
  aspect-ratio: 138/62;
}
