:global(#h) {
  padding-top: 40rem;
  padding-inline: var(--p-i);
  display: flex;
  align-items: center;
}
.lo {
  flex-basis: 100%;
}
.lo svg {
  width: 52rem;
}
.t {
  flex-shrink: 0;
  font-size: 15rem;
  font-family: "so";
  letter-spacing: 0.25em;
  & span {
    display: block;
  }
}

.menu_ {
  flex-basis: 100%;
}

.menu_ button {
  margin-left: auto;
  position: relative;
  z-index: 999;
  cursor: pointer;
}

.menu_i {
  position: relative;
  width: 45rem;
  height: 20rem;
}

.menu_i span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  /* transform-origin: center; */
  position: absolute;
  left: 0;
  transition: all 0.3s ease-out;

  &:nth-child(1) {
    top: 6rem;
  }
  &:nth-child(2) {
    bottom: 6rem;
  }
}
.menu_i.open span:nth-child(1) {
  top: 50%;
  transform: rotate(30deg);
}
.menu_i.open span:nth-child(2) {
  bottom: 50%;
  transform: rotate(-30deg);
}

/*****************
/* MENU */
/*****************/

.menu {
  display: none;
  width: 1280rem;
  background-color: #c09470;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  padding-block: 160rem 60rem;
}
.menu:global(.opened) {
  display: block;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.menu li {
  font-family: "bu";
  font-size: 70rem;
  text-transform: uppercase;
  padding-left: 50rem;
}
.menu a {
  position: relative;
  display: flex;
  align-items: flex-start;
  &:hover {
    color: #eec4a2;
  }
}
.menu span {
  display: block;
}

.menu li div:last-child {
  font-size: 20rem;
}
