:global(#h) {
  padding-top: 24rem;
  padding-inline: var(--p-i);
  display: flex;
  align-items: center;
  @media (width > 770px) {
    padding-top: 40rem;
  }
}
.z {
  position: relative;
  z-index: 9999;
}
.lo {
  flex-basis: 100%;
}
.lo svg {
  width: 24rem;
  @media (width > 770px) {
    width: 52rem;
  }
}
.t {
  flex-shrink: 0;
  font-size: 10rem;
  font-family: "so";
  letter-spacing: 0.25em;
  text-align: center;
  line-height: 1.2;
  & span {
    display: block;
  }
  @media (width > 770px) {
    font-size: 15rem;
    & br {
      display: none;
    }
  }
}

.menu_ {
  flex-basis: 100%;
}

.menu_ button {
  margin-left: auto;
  position: relative;
  z-index: 999;
  cursor: pointer;
}

.menu_i {
  position: relative;
  width: 24rem;
  height: 20rem;
  @media (width > 770px) {
    width: 45rem;
  }
}

.menu_i span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  /* transform-origin: center; */
  position: absolute;
  left: 0;

  &:nth-child(1) {
    top: 6rem;
  }
  &:nth-child(2) {
    bottom: 6rem;
  }
}
.menu_i.open {
  transition: all 0.3s ease-out;
}
.menu_i.open span:nth-child(1) {
  top: 50%;
  transform: rotate(30deg);
}
.menu_i.open span:nth-child(2) {
  bottom: 50%;
  transform: rotate(-30deg);
}

/*****************
/* MENU */
/*****************/

.menu {
  display: none;
  width: 100%;
  background-color: #c09470;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  padding-block: 120rem 40rem;
  @media (width > 770px) {
    padding-block: 160rem 60rem;
    width: 1280rem;
  }
}
.menu:global(.opened) {
  display: block;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 32rem;
  @media (width > 770px) {
    gap: 8rem;
  }
}

.menu li {
  font-family: "bu";
  font-size: 35rem;
  text-transform: uppercase;
  @media (width > 770px) {
    font-size: 70rem;
    padding-left: 50rem;
  }
}
.menu a {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  &:hover {
    @media (pointer: fine) {
      color: #eec4a2;
    }
  }
  @media (width > 770px) {
    justify-content: unset;
  }
}
.menu span {
  display: block;
}

.menu li div:last-child {
  font-size: 12rem;
  @media (width > 770px) {
    font-size: 20rem;
  }
}
