.pc {
  display: block;
}
.pc_index {
  display: block;
  font-size: 28rem;
  line-height: 24rem;
  @media (width > 700px) {
    font-size: 35rem;
    line-height: 30rem;
  }
}
.pc_gallery {
  margin-top: 10rem;
  width: 100%;
  position: relative;
  & figure {
    aspect-ratio: 434/260;
  }
  &:hover .pc_nav {
    opacity: 1;
    visibility: visible;
  }
}
.pc_nav {
  opacity: 0;
  visibility: hidden;
  padding-inline: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
}
.pc_nav button {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  &:disabled {
    opacity: 0;
  }
  &:hover {
    background-color: #ddd;
    transform: scale(1.1);
  }
  &:first-child {
    & svg {
      transform: rotate(180deg);
    }
  }
}
.pc_nav svg {
  width: 10rem;
}
.pc_h {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pc_h h3 {
  font-size: 18rem;
  @media (width > 700px) {
    font-size: 20rem;
  }
}
.pc_h p {
  font-size: 12rem;
  font-style: italic;
  font-weight: 300;
  @media (width > 700px) {
    font-size: 14rem;
  }
}
.pc_sb svg {
  width: 18rem;
  @media (width > 700px) {
    width: 20rem;
  }
  /* width: 20rem;
  aspect-ratio: 1; */
}
.pc_features {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (width > 700px) {
    gap: 40px;
  }
}
.pc_features div {
  display: flex;
  align-items: cente;
  gap: 8rem;
  font-size: 12rem;
  font-weight: 300;
  @media (width > 700px) {
    font-size: 14rem;
  }
}
.pc_features svg {
  width: 22rem;
}
.pc_features img {
  width: 18rem;
  @media (width > 700px) {
    width: 22rem;
  }
}
