.f {
  margin-top: 150rem;
  border-top: 14rem solid var(--c-black);
  padding-inline: var(--p-i);
  padding-top: 32rem;
  padding-bottom: 24rem;
  background-color: white;
}
.f_t {
  display: flex;
}
.f_lo {
  flex-basis: calc(3 / 7 * 100%);
  & svg {
    width: 110rem;
  }
}
.f_n {
  flex-basis: calc(4 / 7 * 100%);
  display: flex;
  gap: 172rem;
}
.f_n h3 {
  font-size: 14rem;
  font-weight: 400;
}
.f_n ul {
  margin-top: 16rem;
}
.f_n li {
  font-size: 12rem;
  font-weight: 300;
  &:not(:first-child) {
    margin-top: 10rem;
  }
}

.f_b {
  display: flex;
  margin-top: 40rem;
}
.socials {
  flex-basis: calc(3 / 7 * 100%);
  display: flex;
  gap: 10rem;
  & svg {
    width: 26rem;
  }
}

.inq {
  flex-basis: calc(4 / 7 * 100%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inq h3 {
  font-size: 18rem;
  font-weight: 400;
  flex-basis: 100%;
}
.inq p {
  font-size: 12rem;
  font-weight: 300;
}
.inq a {
  font-size: 10rem;
  text-decoration: underline;
}
