.f {
  margin-top: 150rem;
  border-top: 14rem solid var(--c-black);
  padding-inline: var(--p-i);
  padding-top: 40rem;
  padding-bottom: 50rem;
}
.f_t {
  display: flex;
}
.f_lo {
  flex-basis: calc(3 / 7 * 100%);
}
.f_n {
  flex-basis: calc(4 / 7 * 100%);
  display: flex;
  gap: 172rem;
}
.f_n h3 {
  font-size: 18rem;
  font-weight: 400;
}
.f_n ul {
  margin-top: 24rem;
}
.f_n li {
  font-size: 12rem;
  font-weight: 300;
  &:not(:first-child) {
    margin-top: 12rem;
  }
}

.f_b {
  display: flex;
  margin-top: 50rem;
}
.socials {
  flex-basis: calc(3 / 7 * 100%);
  display: flex;
  gap: 10rem;
}

.inq {
  flex-basis: calc(4 / 7 * 100%);
}
.inq h3 {
  font-size: 18rem;
  font-weight: 400;
}
.inq p {
  font-size: 12rem;
  font-weight: 300;
}
.inq a {
  font-size: 10rem;
}
