.ls {
  margin-top: 80rem;
  padding-inline: var(--p-i);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24rem;
  @media (width > 770px) {
    margin-top: 10rem;
    flex-direction: row;
    align-items: unset;
    gap: unset;
  }
}

.l {
  position: relative;
  @media (width > 770px) {
    margin-left: 90rem;
  }
}
.l h2 {
  width: 220rem;
  font-size: 20rem;
  line-height: 22rem;
  font-weight: 300;
  position: absolute;
  top: 280rem;
  left: 0;
  z-index: 1;
  @media (width > 770px) {
    position: unset;
    width: 515rem;
    font-size: 40rem;
    line-height: 45rem;
  }
}
.l figure {
  aspect-ratio: 520 / 300;
  @media (width > 770px) {
    margin-top: 32rem;
    margin-top: 148rem;
  }
}

.r {
  @media (width > 770px) {
    margin-left: 215rem;
  }
}
.r figure {
  aspect-ratio: 520/740;
  width: 210rem;
  @media (width > 770px) {
    width: unset;
  }
}
