.ls {
  margin-top: 10rem;
  padding-inline: var(--p-i);
  display: flex;
}

.l {
  margin-left: 90rem;
}
.l h2 {
  width: 515rem;
  font-size: 40rem;
  line-height: 45rem;
  font-weight: 300;
}
.l figure {
  margin-top: 148rem;
  aspect-ratio: 520 / 300;
}

.r {
  margin-left: 215rem;
}
.r figure {
  aspect-ratio: 520/740;
}
