.p {
  --c-brown: #a7816b;
  --c-beige: #e1d5ce;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--c-brown);
}
.p :global(.pin-spacer) {
  overflow: auto !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}
.v {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--c-beige);
  transition: opacity cubic-bezier(0.45, 0, 0.55, 1);
}
.m {
  @media (width > 770px) {
    display: flex;
    overflow: hidden;
  }
}
.m > section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  @media (width > 770px) {
    height: 100vh;
    flex-shrink: 0;
  }
}
.m > section > ._ {
  padding-inline: var(--p-i);
  padding-top: var(--h-h);
  top: var(--h-h);
  right: var(--p-i);
  left: var(--p-i);
  bottom: 0;
  @media (width > 770px) {
    padding-inline: unset;
    top: unset;
    position: absolute;
  }
}

.s0 {
  background-color: var(--c-brown);
}
.s0 ._ {
  display: flex;
  flex-direction: column;
  padding-top: calc(40rem + var(--h-h)) !important;
  gap: 40rem;
  @media (width > 770px) {
    padding-top: unset;
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
  }
}

.s0 .l {
  display: flex;
  flex-direction: column;
  order: 2;
  margin-top: auto;
  @media (width > 770px) {
    order: unset;
    margin-top: unset;
    /* flex-direction: row; */
  }
}

.s0 h3 {
  font-size: 12rem;
  text-align: center;
  font-family: "pp";
  @media (width > 770px) {
    font-size: 20rem;
    text-align: left;
  }
}
.s0 .l figure {
  margin-top: auto;
  @media (width > 770px) {
    width: 525rem;
  }
}
.s0 .r {
  position: relative;
  margin-top: 40rem;
  @media (width > 770px) {
    margin-top: unset;
  }
}

.s0 .r h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 45rem;
  line-height: 36rem;
  font-weight: normal;
  & .l1 {
    margin-left: 157rem;
  }
  & .l2 {
    display: flex;
    justify-content: space-between;
  }
  & .l3 {
    text-align: right;
  }
  @media (width > 770px) {
    top: -60rem;
    font-size: 79rem;
    line-height: 60rem;
    z-index: 1;
    & .l1 {
      margin-left: 340rem;
    }
  }
}

.s0 .r figure {
  height: 520rem;
  & img {
    object-position: top right;
  }
  @media (width > 770px) {
    width: 740rem;
    height: unset;
    & img {
      object-position: unset;
    }
  }
}

/* SECTION 1 */
.s1 {
  background-color: var(--c-beige);
}

.s1 ._ {
  display: flex;
  justify-content: space-between;
  margin-top: 40rem;
  flex-direction: column;
  @media (width > 770px) {
    flex-direction: row;
    margin-top: unset;
  }
}

.s1 .l {
  display: flex;
  flex-direction: column;
  padding-bottom: 40rem;
  order: 2;
  padding-top: 20rem;
  @media (width > 770px) {
    padding-top: unset;
    order: unset;
  }
}
.s1 h2 {
  font-size: 45rem;
  line-height: 40rem;
  font-weight: normal;
  font-family: "bu";
  @media (width > 770px) {
    font-size: 70rem;
    line-height: 60rem;
  }
}
.s1 p:nth-of-type(1) {
  margin-top: auto;
  font-size: 16rem;
  line-height: 1;
  @media (width > 770px) {
    font-size: 35rem;
    line-height: 30rem;
  }
}
.s1 p:nth-of-type(2) {
  width: 235rem;
  margin-top: 16rem;
  margin-left: auto;
  font-size: 14rem;
  line-height: 15rem;
  font-weight: 300;
  @media (width > 770px) {
    width: 390rem;
    margin-top: 40rem;
    margin-left: unset;
    font-size: 20rem;
    line-height: 30rem;
  }
}
.s1 .r {
  flex-shrink: 0;
  @media (width > 770px) {
    width: 810rem;
  }
}
.s1 figure {
  margin-top: 56rem;
  @media (width > 770px) {
    margin-top: unset;
    height: unset;
  }
}

.s2 {
  background-color: #b1875e;
  position: relative;
  margin-left: auto;
}
.s2 ._ {
  left: 0 !important;
  right: 0 !important;
  padding-top: 80rem;
  padding-inline: 0 !important;
  @media (width > 770px) {
    left: unset;
    right: unset;
    padding-top: unset;
  }
}
.s2 h2 {
  position: absolute;
  left: var(--p-i);
  top: 350rem;
  font-size: 55rem;
  font-family: "pp";
  font-weight: 300;
  z-index: 1;
  & span {
    display: block;
  }
  & .l2 {
    position: absolute;
    top: 44.5rem;
    left: 98rem;
  }
  @media (width > 770px) {
    top: unset;
    left: 396rem;
    bottom: 200rem;
    font-size: 100rem;
    & .l2 {
      position: absolute;
      top: 76rem;
      left: 175rem;
    }
  }
}
.s2 p {
  position: absolute;
  bottom: 28rem;
  right: var(--p-i);
  z-index: 1;
  font-size: 30rem;
  line-height: 25rem;
  text-align: right;
  @media (width > 770px) {
    right: unset;
    bottom: 0;
    left: 880rem;
  }
}
.s2 figure {
  /* margin-left: auto; */
  @media (width > 770px) {
    width: 680rem;
    margin-left: auto;
    margin-right: -2rem;
  }
}
