.search {
  width: 465rem;
  display: flex;
  align-items: center;
  gap: 12rem;
  border-bottom: 1px solid var(--c-black);
  padding-bottom: 2px;
}
.search svg {
  width: 20rem;
}
.search input {
  font-size: 16rem;
  &::placeholder {
    color: var(--c-black);
  }
}
