.hi {
  margin-top: 155rem;
  padding-left: var(--p-i);
  position: relative;
}
.hi h1 {
  position: absolute;
  top: -57rem;
  left: 29rem;
  font-family: "bu";
  font-size: 80rem;
  font-weight: normal;
  color: var(--c-gold);
  z-index: 1;
}
.hi ul {
  display: flex;
  gap: 40rem;
  margin-left: 55rem;
  overflow-y: hidden;
}
.hi figure {
  width: 1110rem;
  aspect-ratio: 1110/450;
}
.type {
  font-size: 20rem;
  color: var(--c-gray);
  margin-top: 20rem;
  text-transform: uppercase;
}
.b {
  margin-top: 28rem;
  display: flex;
  gap: 90rem;
  align-items: flex-start;
}
.b_l {
  width: 480rem;
  & h3 {
    font-family: "bu";
    font-size: 30rem;
    font-weight: normal;
    line-height: 1;
  }
}
.b_r {
  width: 460rem;
  & p {
    font-size: 15rem;
    line-height: 20rem;
    color: #3d4260;
  }
}
