.hi {
  margin-top: 80rem;
  position: relative;
  padding-inline: 30rem;
  @media (width > 770px) {
    margin-top: 155rem;
    padding-right: 0;
    padding-left: var(--p-i);
  }
}
.hi h1 {
  position: absolute;
  top: -20rem;
  left: 106rem;
  font-size: 30rem;
  font-weight: normal;
  font-family: "bu";
  color: var(--c-gold);
  z-index: 1;
  @media (width > 770px) {
    top: -57rem;
    left: 29rem;
    font-size: 80rem;
  }
}
.hi ul {
  display: flex;
  overflow-y: hidden;
  @media (width > 770px) {
    margin-left: 55rem;
    gap: 40rem;
  }
}
.hi li {
  width: 100%;
  flex-shrink: 0;
  @media (width > 770px) {
    width: unset;
    flex-shrink: unset;
  }
}
.hi figure {
  aspect-ratio: 1110/450;
  @media (width > 770px) {
    width: 1110rem;
  }
}
.type {
  margin-top: 24rem;
  font-size: 10rem;
  color: var(--c-gray);
  text-transform: uppercase;
  text-align: center;
  @media (width > 770px) {
    margin-top: 20rem;
    font-size: 20rem;
    text-align: unset;
  }
}
.b {
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  gap: 24rem;
  align-items: center;
  @media (width > 770px) {
    margin-top: 28rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 90rem;
  }
}
.b h3 {
  width: 230rem;
  font-size: 16rem;
  line-height: 14rem;
  font-weight: normal;
  font-family: "bu";
  text-align: center;
  @media (width > 770px) {
    width: 480rem;
    font-size: 30rem;
    line-height: 1;
    text-align: unset;
  }
}
.b p {
  width: 325rem;
  font-size: 14rem;
  line-height: 1.4;
  color: #3d4260;
  text-align: center;
  @media (width > 770px) {
    width: 460rem;
    font-size: 15rem;
    line-height: 20rem;
    text-align: unset;
  }
}
