.item_t {
  padding-block: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--c-black);
  cursor: pointer;
  @media (width > 770px) {
    padding-block: 30rem;
  }
}
.item_t span {
  font-size: 12rem;
  line-height: 14rem;
  text-transform: uppercase;
  @media (width > 770px) {
    font-size: 22rem;
    line-height: 35rem;
  }
}
.item_t svg {
  width: 16rem;
  aspect-ratio: 1;
  @media (width > 770px) {
    width: 18rem;
  }
}

.item_b_ {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.item_b {
  padding-bottom: 24rem;
  font-size: 12rem;
  line-height: 16rem;
  font-weight: 300;
  @media (width > 770px) {
    font-size: 20rem;
    line-height: 30rem;
  }
}
