.listings {
  margin-top: 0;
  @media (width > 700px) {
    margin-top: 90rem;
  }
}

.listings > button {
  width: fit-content;
  padding: 6rem 16rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8rem;
  font-size: 10rem;
  line-height: 1;
  color: var(--c-gold);
  border: 1px solid var(--c-gold);
  transform: translateY(-90%);
  & svg {
    width: 14rem;
    fill: var(--c-gold);
  }
  @media (width > 700px) {
    padding: 8rem 26rem;
    font-size: 14rem;
    line-height: unset;
    gap: 12rem;
    transform: unset;
    & svg {
      width: 18rem;
    }
  }
}
.listings > button.active {
  background-color: var(--c-gold);
  color: white;
  & svg {
    fill: white;
  }
}

.listings_h {
  margin-top: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  @media (width > 700px) {
    margin-top: 60rem;
    position: unset;
  }
}
.listings_h button {
  display: flex;
  align-items: center;
  font-size: 12rem;
  gap: 12rem;
}

.listings_intro {
  margin-top: 48rem;
  padding-inline: var(--p-i);
  margin-inline: auto;
  @media (width > 700px) {
    margin-top: 88rem;
    max-width: 1150rem;
  }
}

.listings_intro h2 {
  font-size: 18rem;
  line-height: 20rem;
  font-weight: normal;
  text-align: center;
  @media (width > 700px) {
    font-size: 35rem;
    line-height: 30rem;
  }
}

.listings_intro p {
  margin-top: 24rem;
  font-size: 15rem;
  line-height: 1;
  font-weight: 300;
  text-align: center;
  @media (width > 700px) {
    margin-top: 40rem;
    font-size: 20rem;
    line-height: 30rem;
  }
}
.prps {
  margin-top: 40rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40rem;
  @media (width > 700px) {
    margin-top: 88rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width > 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.prps li {
  min-width: 0;
}
.prps li:nth-child(2n) {
  & figure {
    aspect-ratio: 5/4;
  }
}
